@model Feedback.Web.ViewModels.HappyLevelLight

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="govuk-width-container app-width-container--wide">

    <partial name="Buttons/backbutton" model="@Model.BackButton" />

    <form asp-controller="Feedback" asp-action="HappyLevelLight" method="post">
        <partial name="Errors/SummaryError" model="@Model" />
        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        
            <div class="govuk-form-group @(ViewData.ModelState.GetFieldValidationState("HappyWithLevelOfLighting") == invalid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h2 class="govuk-fieldset__heading">
                            Are you happy with the level of outside lighting  in your home? 
                        </h2>
                    </legend>
                    @if (ViewData.ModelState.GetFieldValidationState("HappyWithLevelOfLighting") == invalid)
                    {
                        <span id="national-insurance-number-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <span asp-validation-for="HappyWithLevelOfLighting"></span>
                        </span>
                    }
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="HappyWithLevelOfLighting" type="radio" value="1">
                            <label class="govuk-label govuk-radios__label" asp-for="HappyWithLevelOfLighting">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="HappyWithLevelOfLighting" type="radio" value="0">
                            <label class="govuk-label govuk-radios__label" asp-for="HappyWithLevelOfLighting">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <partial name="Buttons/continue" />
        </main>

    </form>

</div>



 
    