@model Feedback.Web.ViewModels.UserPostalAddress

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="govuk-width-container app-width-container--wide">

    <partial name="Buttons/backbutton" model="@Model.BackButton" />

    <form asp-controller="Feedback" asp-action="UserAddress" method="post">
        <partial name="Errors/SummaryError" model="@Model" />
        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">

            <div class="govuk-form-group @(ViewData.ModelState.GetFieldValidationState("SelectedAddress") == invalid ? "govuk-form-group--error" : "")">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" asp-for="SelectedAddress">
                        Select your Address
                    </label>
                </h1>
                <span id="email1" class="govuk-hint">
                    Choose your home address in the below list
                </span>
                @if (ViewData.ModelState.GetFieldValidationState("SelectedAddress") == invalid)
                {
                    <span id="national-insurance-number-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <span asp-validation-for="SelectedAddress"></span>
                    </span>
                }
                <select class="govuk-select" class="govuk-input govuk-input--width-30 govuk-!-width-three-quarters @(ViewData.ModelState.GetFieldValidationState("SelectedAddress") == invalid ? "govuk-input--error" : "")"
                        asp-for="SelectedAddress" asp-items="Model.ListAddresses"></select>
            </div>

            <partial name="Buttons/continue" />

        </main>

    </form>

</div>