@model Feedback.Web.ViewModels.UserName

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="govuk-width-container app-width-container--wide">

    <partial name="Buttons/backbutton" model="@Model.BackButton" />

    <form asp-controller="Feedback" asp-action="UserName" method="post">
        <partial name="Errors/SummaryError" model="@Model" />
        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">

            <div class="govuk-form-group @(ViewData.ModelState.GetFieldValidationState("FullName") == invalid ? "govuk-form-group--error" : "")">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" asp-for="FullName">
                        Fullname
                    </label>
                </h1>
                @if (ViewData.ModelState.GetFieldValidationState("FullName") == invalid)
                {
                    <span id="national-insurance-number-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <span asp-validation-for="FullName"></span>
                    </span>
                }
                <input class="govuk-input govuk-input--width-20 govuk-!-width-three-quarters @(ViewData.ModelState.GetFieldValidationState("FullName") == invalid ? "govuk-input--error" : "")" asp-for="FullName" spellcheck="false">
            </div>

            <partial name="Buttons/continue" />

        </main>

    </form>

</div>